.footer{
    margin: 10px auto;
    border-top: 1px solid #646969;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}